:root {
    --primary: #006699;
    --secondary: #A4D3EB;
    --tertiary: #F0FAFF;
    --white: #FFFFFF;
    --success: #6ac340;
    --danger: #df2e34;
    --font-family: 'Poppins';

    //lib variables
    --cs-font-family: 'Poppins';
    --cs-primary-color: #006699;
    --cs-secondary-color: #A4D3EB;
    --cs-tertiary-color: #F0FAFF;
    --cs-white-color: #FFFFFF;
    --cs-input-height: 40px;
    --cs-grey-color: #bcbec0;
    --cs-danger-color: #df2e34;
    --cs-success-color: #22c55e;
    --cs-background-color: #fff;
}