<header class="header">
  <div class="header__content">
    <div class="flex align-items--center flex--wrap">
      <img class="header__logo" src="/assets/img/logo.png" alt="logo" />
      <p class="font-size--16">Students</p>
    </div>
    <div class="header__right">
      <span
        (click)="goBack()"
        class="csi-arrow-back txt-primary icon-size--24 pointer"
      ></span>
      <span
        (click)="goBack()"
        class="header__text--desktop font-size--16 pointer"
        >Visit EngineBI</span
      >
    </div>
  </div>
</header>
