@import '/src/sass/abstracts/mixins/respond';

.detail {
    padding-top: 7.2rem;
    height: 100%;
    background-color: var(--secondary);

    @include respond(tab-port) {
        padding-top: 10rem;
    }
}

cs-skeleton-loading {
    display: block;
    margin-top: 20px;
}