@import '/src/sass/abstracts/mixins/respond';


.students {
    padding-top: 7.2rem;
    width: 100%;

    @include respond(tab-port) {
        padding-top: 10rem;
    }

    .icon {
        font-size: 20px;

        @include respond(desktop) {
            font-size: 24px;
        }

    }
}