.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.bg-tertiary{
    background-color: var(--tertiary);
}
.bg-white{
    background-color: var(--white);
}