.margin-top {


    &--4 {
        margin-top: .4rem;
    }

    &--10 {
        margin-top: 1rem;
    }

    &--16 {
        margin-top: 1.6rem;
    }

    &--20 {
        margin-top: 2rem;
    }

    &--24 {
        margin-top: 2.4rem;
    }

    &--32 {
        margin-top: 3.2rem;
    }

    &--40 {
        margin-top: 4rem;
    }

    &--46 {
        margin-top: 4.6rem;
    }

    &--55 {
        margin-top: 5.5rem;
    }

    &--66 {
        margin-top: 6.6rem;
    }

    &--70 {
        margin-top: 7rem;
    }

}