@import '../../abstracts/mixins/respond';

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.6rem;

    @include respond(tab-port) {
        padding: 0 3.2rem;
    }

    @include respond(desktop) {
        padding: 0 9rem;
    }
}

.width {
    &--full {
        width: 100%;
    }
}

.text-align {
    &--center {
        text-align: center;
    }
}

.pointer {
    cursor: pointer;
}